<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/Create.css">
    <script src="assets/js/create.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <img id="backicon" src="assets/image/backicon.png">
            </div>
           
        </div>

        <!-- Thiếu 2 button -->
        <div class="row">
        
            <div class="col-sm-4">
                <div id="character">
                    <img src="assets/image/team_valor.jpg" id="team">
                    <img src="assets/image/character.png" id="main">
                </div>
            </div>
            <div class="col-sm-4">
                    <div id="character">
                        <img src="assets/image/team_valor.jpg" id="team">
                        <img src="assets/image/character.png" id="main">
                    </div>
                </div>
                <div class="col-sm-4">
                        <div id="character">
                            <img src="assets/image/team_valor.jpg" id="team">
                            <img src="assets/image/character.png" id="main">
                        </div>
                    </div>
            
        </div>

        <div class="row" id="char_infor">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="infor">
                <div class="col-3">
                    <input class="effect-1" type="text" placeholder="Placeholder Text">
                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" id="Click">
            
            <div class="col-sm-12" id="infor">
                <button id="button"> Create</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
    </div>
</body>

<footer>

</footer>

</html>