doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  link(rel='stylesheet' href='assets/css/Create.css')
  script(src='assets/js/create.js')
.container-fluid
  .row
    .col-sm-2
      img#backicon(src='assets/image/backicon.png')
  // Thiếu 2 button
  .row
    .col-sm-4
      #character
        img#team(src='assets/image/team_valor.jpg')
        img#main(src='assets/image/character.png')
    .col-sm-4
      #character
        img#team(src='assets/image/team_valor.jpg')
        img#main(src='assets/image/character.png')
    .col-sm-4
      #character
        img#team(src='assets/image/team_valor.jpg')
        img#main(src='assets/image/character.png')
  #char_infor.row
    .col-sm-4
    #infor.col-sm-4
      .col-3
        input.effect-1(type='text' placeholder='Placeholder Text')
        span.focus-border
    .col-sm-4
  #Click.row
    #infor.col-sm-12
      button#button  Create
    .col-sm-4
footer
