<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/trade.css">
</head>


<body id="body" style=" background-image: url(/tradePokemon/assets/image/background.png)">
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-sm-2"><img id="backicon" src="assets/image/backicon.png"></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">
                <img id="avatarplayer" src="assets/image/player2.jpg">
                <p>TenNhanVat</p>
                <p>Level</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3" id="pokemon">
                <div class="rectangle">
                    <p>Tên Pokemon:</p>
                    <p>CP:</p>
                    <p>HP:</p>
                </div>
                <img id="imgPokemon" src="assets/image/pkm1.png">
            </div>
            <div class="col-sm-2" id="arrow"> <img id="imgPokemon" ><i class="fas fa-exchange-alt" style="font-size : 100px;padding-bottom:20px;"></i></div>
            <div class="col-sm-3">
                <div class="rectangle">
                    <p>Tên Pokemon:</p>
                    <p>CP:</p>
                    <p>HP:</p>
                </div>
                <img id="imgPokemon" src="assets/image/pkm2.png">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row" id="confirm">           
                <button class="button">Confirm.</button>            
        </div>
        <div class="col-sm-2">
            <img id="avatarplayer" src="assets/image/player1.png">
            <p>TenNhanVat</p>
            <p>Level</p>
        </div>
    </div>
</body>

<footer>

</footer>

</html>