doctype html
head
  meta(charset='UTF-8')
  title Pokemon GO Detail
  link(rel='stylesheet' href='css/style.css')
.card-container
  .pokemon-container
    .power-level
      | CP
      span 514
      .pokemon-snap
        img(src='http://i63.tinypic.com/hug9ck.png')
      .half-circle
    .poke-card
      .name
        h1 Gengar
        .hp
          | HP 66/66
      ul.stats
        li
          | Ghost / Poison
          br
          span Type
        li
          | 40.5kg
          br
          span Weight
        li
          | 1.5m
          br
          span Height
      .info
        .dusty-candy
          .dust
            i
            |  10514
            br
            span Stardust
          .candy
            i
            |  50
            br
            span Gengar Candy
        .power-up
          .button Power Up
          i.stardust
          |  1000
          i.candy
          |  1
      .transfer
        button.button Transfer
